/* black coffee color: #41393E
sandy brown color: #F1A96A
purple color: #8B85C1
turquoise color: #BBDFC5
rose color: #F5006A */


#container {
    display: flex;
    flex-flow: row;
}

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    display: flex;
    flex-flow: row nowrap;
    background-color: #DB6B11;
    color: #41393E;
    width: 100%;
    height: 15%;

}

.logo {
    height: 100px;
    width:auto;
    margin: 10px;
}

.content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:flex;
    flex-flow: row nowrap;
    width: 100%;
    color:#41393E;
}

.servicesArea {
    display:flex;
    flex-flow: row nowrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#F1A96A;
    color:#41393E;
    padding-left: 10px;
}

.content--lower {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    color:#41393E;

}

.parkArea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-flow: row wrap;
    background-color:#BBDFC5;
    color: #41393E;
    width:80%;
    padding: 10px;

}

.parkArea--title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    border-bottom: 5px solid #874104;
}

.parkArea--main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

.parkArea--Lodge {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-flow: row wrap;
    width: 30%;
    justify-content: space-around;
    text-align: center;
    border: 5px solid #874104;
    border-radius: 10px 25px 25px 25px;
    margin-bottom: 5px;
}
.parkArea--Lost {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-flow: row wrap;
    width: 30%;
    justify-content: space-around;
    text-align: center;
    border: 5px solid #874104;
    border-radius: 10px 10px 25px 25px;
    margin-bottom: 5px;
}
.parkArea--Chamfort {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-flow: row wrap;
    width: 30%;
    justify-content: space-around;
    text-align: center;
    border: 5px solid #874104;
    border-radius: 25px 10px 25px 25px;
    margin-bottom: 5px;
}
.parkArea--Gander {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-flow: row wrap;
    width: 30%;
    justify-content: space-around;
    text-align: center;
    border: 5px solid #874104;
    border-radius: 25px 25px 25px 10px;
    margin-bottom: 5px;
}
.parkArea--Campgrounds {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-flow: row wrap;
    width: 30%;
    justify-content: space-around;
    text-align: center;
    border: 5px solid #874104;
    border-radius: 25px 25px 10px 10px;
    margin-bottom: 5px;
}
.parkArea--Pine {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-flow: row wrap;
    width: 30%;
    justify-content: space-around;
    text-align: center;
    border: 5px solid #874104;
    border-radius: 25px 25px 10px 25px;
    margin-bottom: 5px;
}

.guestArea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #42A1F7;
    width: 20%;
    padding-left: 2em;

}

.footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:baseline;
    background-color: #8B85C1;
    width: 100%;
}

.addressBlock {
    padding-left: 1em;
}

.email {
    padding-right: 1em;
}